body {
    font-family: sans-serif;
    direction: rtl;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    text-align: center;

}

#main-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-left {
    display: flex;
    justify-content: end;
}

.login-btn {
    margin-right: 20px;
}

button {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #2196f3;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease;
}
button:hover {
    transform: scale(1.1);
}

.box {
    margin-top: 150px;
    background: rgba(0,0,0,0.5);
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
}

#error {
    color: #ff5252;
    margin-top: 10px;
}

#profile {
    background-image:url("profile.jpg");
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#profile:hover {
    transform: scale(1.1);
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  direction: rtl; 
}


.logo img {
  height: 50px;
}




